:root{
    --themeaccent: #e8602b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(51, 48, 48);
    color: rgb(254, 254, 254);
    font-family: 'Nunito', sans-serif; 
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3b3b;
}

nav>ul {
    width: 35vw;
    flex-direction: row;
    justify-content: space-around;
}

#logo {
    padding-left: 2vw;
}

#form-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 75px;
}

#form-section h2 {
    margin-bottom: 20px;
}

#form-section input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    height: 4.5vh;
}

#form-section input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: var(--themeaccent);
    color: rgb(34, 32, 32);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

#features{
    display: flex;
    /* border: 1px solid red; */
    margin: 20px auto ;
    max-width: 60%;
    height: 50vh;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
/* the logo text pairs */
.feature{
    display: flex;
}
#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: var(--themeaccent)
}
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    width: 36vw;
    padding: 5px;
}

#video-section{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    max-width: 60%;
}
#pricing{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.product{
    border: 1px solid black;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 3px;
}
.productname{
    text-transform: uppercase ;
    background-color: var(--themeaccent);
    color: black;
    padding: 15px 0;
    width: 100%;
    font-weight: 700;
}
.h2price {
   margin-top: 15px;
}
.product>ol{
    margin: 7px 0;
}
.product>ol>li{
    margin-bottom: 5px;
}
button{
    border: 0;
    margin: 15px 0;
    background-color: #cfcfcf;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 63%;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #3c3b3b;
    padding: 20px 10px;
}
footer>ul{
    display: flex;
}
footer>ul>li{
    margin: 0 5px;
}